@model BookShop.Models._BookTableModel

<table class="table">
    <thead>
        <tr>
            <th>
                Book
            </th>
            <th>
                Author
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Book)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.BookName">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.BookName">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.BookName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>